<html>
    <head>
        <link href='style.css' rel='stylesheet'>
        <title>Chat App</title>
    </head>

    <body>
        <div id='container'>
            <div>
                <p>Welcome to Chat!</p>
                <form action='/room' method='POST'>
                    <input type='text' name='username' placeholder='Enter your name' required/>
                    <input type='text' name='roomname' placeholder='Enter room number' required/>
                    <input type='submit' value='Enter'>
                </form>
            </div>
        </div>
    </body>
</html>